.page {
  composes: page from '~./Page.css';

  background-color: var(--pageBackground);
}

.logoFull {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 128px;
  height: 128px;
  opacity: 0.9;
}
