.formatProfiles {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  
  margin-top: 5px;
}

.profileLabel {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profileText {
  margin-left: 3px;
}

.qualityName {
  margin-left: 3px;
  font-size: 12px;
  opacity: 0.8;
}
