<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Servarr-FluentMigrator" value="https://pkgs.dev.azure.com/Servarr/Servarr/_packaging/FluentMigrator/nuget/v3/index.json" />
    <add key="Servarr-MonoPosix" value="https://pkgs.dev.azure.com/Servarr/Servarr/_packaging/Mono.Posix.NETStandard/nuget/v3/index.json" />
    <add key="Servarr-SQLite" value="https://pkgs.dev.azure.com/Servarr/Servarr/_packaging/SQLite/nuget/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>

    <packageSource key="Servarr-FluentMigrator">
      <package pattern="Servarr.FluentMigrator.Runner*" />
    </packageSource>

    <packageSource key="Servarr-MonoPosix">
      <package pattern="Mono.Posix.NETStandard" />
    </packageSource>

    <packageSource key="Servarr-SQLite">
      <package pattern="System.Data.SQLite.Core.Servarr" />
    </packageSource>
  </packageSourceMapping>
</configuration>
