.scroller {
  @add-mixin scrollbar;
  @add-mixin scrollbarTrack;
  @add-mixin scrollbarThumb;
  -webkit-overflow-scrolling: touch;
}

.none {
  overflow: hidden;
}

.vertical {
  overflow: hidden scroll;

  &.autoScroll {
    overflow: hidden auto;
  }
}

.horizontal {
  overflow: scroll hidden;

  &.autoScroll {
    overflow: auto hidden;
  }
}

.both {
  overflow: scroll;

  &.autoScroll {
    overflow: auto;
  }
}
